@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@300;400&family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#myname{font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: red;
}
#tag{
    color: red;
}
#info{
    font-family: "Satisfy" , cursive;
}